@charset 'utf-8';

$cl-font-black: #1B1B1B;
$cl-font-white: white;
$cl-yellow-light: #f2ca53;
$cl-yellow: #EBB720;
$cl-brown: #7E361A;

$fz-most-large: 32px;
$fz-large: 24px;
$fz-normal: 18px;
$fz-small: 14px;